h1 {
    color: white;
    font-size: 20px;
    font-family: monospace;
    text-shadow:
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

a {
    color: hotpink;
    font-size: 15px;
    font-family: monospace;
  }
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }  

body {
    background-color: black;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.header_con {
    display: flex;
    justify-content:  flex-end;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
    height: 200px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
  }